.add-form {
  color: #fcf6f5;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px;
}
.add-form,
.input-group {
  align-items: center;
  display: flex;
  gap: 20px;
}
.form-label {
  font-size: 16px;
  font-weight: 700;
}
.add-input {
  border: none;
  height: 40px;
  background-color: #fcf6f5;
  border-bottom: 2px solid #7b9acc;
  color: #7b9acc;
  padding: 0 12px;
  width: 240px;
}
input:focus {
  outline: none;
}

.form-label {
  font-size: 16px;
  font-weight: 700;
  color: #7b9acc;
}
.add-button {
  color: #fcf6f5;
  background-color: #7b9acc;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.plus-logo {
  font-size: 30px;
}
