* {
  font-family: "Gowun Batang", serif;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  color: black;
}
h2.list-title {
  color: #7b9acc;
}
h2.todo-title {
  margin: 0;
}
body {
  background-color: #fcf6f5;
}
a {
  text-decoration: none;
  color: #7b9acc;
}
